@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background: #FFF7F4;
  /* --theme-color: #FF9C6A; */
  --theme-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html {
  background-color: var(--background);
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: scroll;
  min-width: 320px;
}

html,
body {
  height: 100%;
}

.container {
  width: 100%;
  min-width: 360px;
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
